@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container" style="background-color: gray ">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container-fuild">
                    <div class="row">
                        <div class="col-2"><img src="~/image/soc_1_1.jpg" alt="" class="img-fluild" width="150" /></div>
                        <div class="col-2"><img src="~/image/soc_1_2.jpg" alt="" class="img-fluild" width="150" /></div>
                        <div class="col-2"><img src="~/image/soc_1_3.jpg" alt="" class="img-fluild" width="150" /></div>
                        <div class="col-2"><img src="~/image/soc_1_4.jpg" alt="" class="img-fluild" width="150" /></div>
                        <div class="col-2"><img src="~/image/soc_1_5.jpg" alt="" class="img-fluild" width="150" /></div>
                        <div class="col-2"><img src="~/image/soc_1_6.jpg" alt="" class="img-fluild" width="150" /></div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container-fuild">
                    <div class="row">
                        <div class="col-2"><img src="~/image/hinh-anh-tien-500.000.jpg" alt="" class="img-fluild" width="150" /></div>
                        <div class="col-2"><img src="~/image/meo_3_2.jpg" alt="" class="img-fluild" width="150" /></div>
                        <div class="col-2"><img src="~/image/meo_3_4.jpg" alt="" class="img-fluild" width="150" /></div>
                        <div class="col-2"><img src="~/image/meo_3_5.jpg" alt="" class="img-fluild" width="150" /></div>
                        <div class="col-2"><img src="~/image/meo_3_6.jpg" alt="" class="img-fluild" width="150" /></div>
                        <div class="col-2"><img src="~/image/meo_3_8.jpg" alt="" class="img-fluild" width="150" /></div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>